@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}
.main {
  padding: 80px 0 0 80px;
}
.title {
  font-weight: 600;
}

.desc {
  font-weight: 400;
  color: $color_dark;
}
img {
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Montserrat" sans-serif;
}
