.hero {
  position: relative;

  &-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }
  &-img {
    max-height: 980px;
  }

  &-tilte {
    color: $color_white;
    font-size: 85px;
    font-weight: 800;
    max-width: 1331px;
  }
  &-call {
    color: $color_white;
    font-size: 24px;
    font-weight: 500;
    padding: 14px 33px;
    background-color: $color_main;
    border: none;
    margin-top: 42px;
    margin-bottom: 150px;
  }
  &-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
