.intro {
  display: flex;
  justify-content: space-around;
  margin-top: 140px;
  margin-left: 65px;
  position: relative;
  &-full {
    max-width: 927px;
    height: 450px;
    margin-top: 65px;
    padding: 66px 59px 107px 50px;
    background-color: $color_main;
    position: absolute;
    left: 0;
    z-index: 100;
  }
  &-text {
    color: $color_white;
    font-size: 24px;
    font-weight: 500;
  }
  &-title {
    color: $color_white;
    font-size: 48px;
  }
  &-desc1 {
    margin-top: 25px;
    color: $color_white;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
  }
  &-desc2 {
    margin-top: 25px;
    color: $color_white;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
  }
  &-img{
    max-width: 573px;
    max-height: 600px;
    position: absolute;
    right: 0;
  }
}
