@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

.main {
  padding: 80px 0 0 80px;
}

.title {
  font-weight: 600;
}

.desc {
  font-weight: 400;
  color: #000;
}

img {
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Montserrat" sans-serif;
}

.header-full {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1000000;
}
.header-logo {
  max-width: 200px;
  width: 100%;
  margin-left: 152px;
}
.header-main {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-ul {
  display: flex;
  align-items: center;
  gap: 54px;
}
.header-link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  font-family: "Montserrat", sans-serif;
  max-width: 124px;
  cursor: pointer;
}
.header-link:hover {
  color: #C92049;
}
.header-img {
  margin-right: 35px;
  max-height: 980px;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  width: 80px;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100000000;
  background-color: #fff;
}
.sidebar-search {
  background-color: #0D4C79;
  width: 100px;
  padding: 20px;
  cursor: pointer;
}
.sidebar-logo {
  display: flex;
  flex-direction: column;
  max-width: 35px;
  gap: 20px;
}

.hero {
  position: relative;
}
.hero-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.hero-img {
  max-height: 980px;
}
.hero-tilte {
  color: #fff;
  font-size: 85px;
  font-weight: 800;
  max-width: 1331px;
}
.hero-call {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 14px 33px;
  background-color: #0D4C79;
  border: none;
  margin-top: 42px;
  margin-bottom: 150px;
}
.hero-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news {
  margin-top: 100px;
  margin-left: 40px;
}
.news-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  margin-right: 30px;
}
.news-text {
  color: #0D4C79;
  font-size: 48px;
}
.news-all {
  display: flex;
  align-items: center;
  color: #0D4C79;
  font-size: 20px;
  font-weight: 500;
}
.news-right {
  margin-left: 2px;
}
.news-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.news-item {
  max-width: 430px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.news-img {
  flex-shrink: 0;
  margin-bottom: 30px;
}
.news-title {
  color: #1E1E1E;
  font-size: 20px;
  margin-bottom: 15px;
}
.news-day {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.news-left {
  margin-right: 25px;
  color: #0D4C79;
  font-size: 16px;
  font-weight: 400;
}
.news-right {
  color: #0D4C79;
  font-size: 16px;
  font-weight: 400;
}
.news-desc {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.news-read {
  color: #b3b3b3;
  font-family: Montserrat;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  text-decoration-line: underline;
  margin-top: 16px;
}

.intro {
  display: flex;
  justify-content: space-around;
  margin-top: 140px;
  margin-left: 65px;
  position: relative;
}
.intro-full {
  max-width: 927px;
  height: 450px;
  margin-top: 65px;
  padding: 66px 59px 107px 50px;
  background-color: #0D4C79;
  position: absolute;
  left: 0;
  z-index: 100;
}
.intro-text {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.intro-title {
  color: #fff;
  font-size: 48px;
}
.intro-desc1 {
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 10px;
}
.intro-desc2 {
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 10px;
}
.intro-img {
  max-width: 573px;
  max-height: 600px;
  position: absolute;
  right: 0;
}

.list {
  margin-top: 740px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-bottom: 140px;
  margin-left: 65px;
  margin-right: 25px;
}
.list-img {
  display: block;
  margin: 0 auto;
  height: 80px;
}
.list-title {
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.list-desc {
  color: #000;
  text-align: justify;
  font-size: 16px;
  margin-bottom: 30px;
}
.list-read {
  color: #0D4C79;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

.field {
  margin-left: 40px;
  padding: 0px 25px;
}
.field-intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
}
.field-text {
  max-width: 900px;
}
.field-h3 {
  color: #0D4C79;
  font-size: 48px;
  margin-bottom: 25px;
}
.field-desc {
  color: #000;
  text-align: justify;
  font-size: 16px;
}
.field-all {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2px;
}
.field-read {
  color: #0D4C79;
  font-size: 20px;
  font-weight: 500;
}
.field-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.field-item {
  max-width: 325px;
}
.field-title {
  color: #0D4C79;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 34px;
  margin-bottom: 33px;
}
.field-fixed {
  width: 100%;
  height: 10px;
  background-color: #0D4C79;
}

.quality {
  margin-left: 40px;
  padding: 0px 25px;
  margin-top: 140px;
}
.quality-desc1 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}
.quality-title1 {
  color: #0D4C79;
  font-size: 48px;
  margin-bottom: 30px;
}
.quality-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quality-img {
  max-width: 747px;
}
.quality-text {
  max-width: 575px;
}
.quality-title2 {
  color: #0D4C79;
  font-size: 24px;
  margin-bottom: 20px;
}
.quality-desc2 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.quality-read {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  text-decoration-line: underline;
}
.quality-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-top: 154px;
  padding-left: 140px;
  padding-right: 35px;
  padding-bottom: 15px;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-logo {
  max-width: 216px;
  margin-bottom: 35px;
}
.footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.footer-logo1 {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.footer-desc {
  max-width: 507px;
  color: #000;
  font-size: 16px;
}
.footer-end {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.footer-contract {
  display: flex;
  gap: 150px;
}
.footer-main {
  color: #0D4C79;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 70px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer-title {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
}
.footer-import {
  max-width: 315px;
  margin-left: -30px;
  margin-bottom: 60px;
}
.footer-input {
  padding: 10px 0px 10px 20px;
  max-width: 205px;
  border: none;
}
.footer-btn {
  color: #fff;
  font-size: 16px;
  padding: 10px 17px;
  background-color: #0D4C79;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-title2 {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
}

/*# sourceMappingURL=big.css.map */
