.register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 73px;
    &-content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &-text{
        color: $color_main;
        font-size: 31px;
        font-weight: 700;
    }
    &-desc{
        color: $color_dark;
        font-size: 16px;
        font-weight: 400;
        max-width: 613px;
    }
    &-tools{
        display: flex;
        gap: 10px;
    }
    &-input{
        padding: 20px 10px;
        width: 354px;
        height: 60px;
    }
    &-click{
        padding: 14px 31px;
        background-color: $color_main;
        color: $color_white;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        width: 220px;
    }
}